# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*.local
# But allow .env.example files
!.env.example
!.env.local.example

venv/
venv2/

# vercel
.vercel

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd